#Hey, don't worry about this file, this is
#just a list of what GitHub has to ignore in
#my folder, just to keep the repo as clean as
#possible ;)

Doom MegaPack.url
Doom MegaPack.7z
gzdoom-Federico.ini
/GZDoom v4.7.1 Win32/Save
/GZDoom v4.7.1 Win64/Save
/.ignored
*.wad